* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #FCFBF4;
    padding: 0 0 0 3vw;
}

.myName {
    overflow: hidden;
}

.photo {
    height: 87vh;
    margin: 3vw 0 0 0;
    padding: 0 3vw 0 3vw;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

.portfolio {
    height: 87vh;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

.photo::-webkit-scrollbar {
    display: none;
}

.portfolio::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.OnMobile {
    font-size: 5vw;
}

a:link {
    color: #3a3b3c;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }
  a:visited {
    color: #3a3b3c;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

/* when screen less than 600px */
@media screen and (max-width: 600px) {
    .onPC {
        display:none;
    }
    .photoMobile {
        height: 80vh;
        margin: 3vw 0 0 0;
        padding: 0 3vw 0 0;
        overflow: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
        scrollbar-width: none;  /* Hide scrollbar Firefox */
    }
    .portfolioMobile {
        height: 80vh;
        margin: 3vw 0 0 0;
        padding: 0 3vw 0 0;
        overflow: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
        scrollbar-width: none;  /* Hide scrollbar Firefox */
    }
    .copyright {
        position: relative;
        color: #d3d3d3;
    }
    .portLink {
        position: relative;
    }
}

/* when screen more than 600px */
  @media screen and (min-width: 600px){
    h1 {
        font-size: 2vw;
    }
    h2 {
        font-size: 1vw;
    }
    .onMobile{
        display:none;
    }
    .portfolioMobile{
        display:none;
    }
    .copyright {
        position: fixed;
        bottom: 3vh;
        color: #d3d3d3;
    }
    .portLink {
        position: fixed;
        bottom: 6vh;
    }
}